extends ./layout.pug

block content
    h1= title
    div.container-fluid
        div.row  
            each item, index in results 
                div.col-sm-2(onclick=`buy(${index})`) Bag_type:#{item["Bag_type"]} <br> Bag_cost:#{item["Bag_cost"]} <br> Bag_Name:#{item["Bag_Name"]}
           
  
    script.
        function buy(cost) {
            alert('You purchased item ' + cost );
        }
